{{>/user/header}}

<div class="container">
    <div class="my_auth_box">
        <div="" class="my_auth_form_box">
            <div class="my_auth_form_box_title">Kstory</div>
            <form action="/login" method="post">

                <input id="email" class="my_auth_form_box_input" type="text" name="email" placeholder="이메일"
                    maxlength="60" required />
                <input id="pw" class="my_auth_form_box_input" type="password" name="password" placeholder="비밀번호 초기화"
                    maxlength="20" required />
                <button type="submit" class="my_secondary_btn">비밀번호 초기화하기</button>
            </form>

    </div>
</div>
</div>

{{>/layout/footer}}